html,body{height: 100%;}
body{
	font-family: 'Nunito', sans-serif;
	background-color: white;
	background-image: url("http://source.unsplash.com/YA-DFlSzXBE/1920x1080");
	background-size: cover;
}
p{font-size: 1.05vw;}
.overlay{
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	overflow: auto; /* Enable scroll if needed */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.registration-box{
	position: absolute;
	top: 20%;
	left: 20%;
	/*transform: translate(-50%, -50%);*/
	text-align: center;
	max-width: 60%;
}

.textbox, select{
	margin: 8px;
	padding: 3px;
	box-sizing: border-box;
	border-bottom: 2px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 45%;
}
#cap{width: 10%;}
#provincia{width: 34%;}

.returnhome{
	position: absolute;
	top: 8px;
	left: 16px;
}

.returnhome a{color:black;}

@media screen and (max-width: 852px){
	.registration-box{max-width: 90%;left: 5%;}
	.textbox, .select, #cap, #provincia {width: 95%;}
	body{font-size: 17px;}
}

.top-left{
	position: absolute;
	top: 32px;
	left: 32px;
}

.top-right{
	position: absolute;
	top: 32px;
	right: 32px;
	font-size: 12px;
}

.top-right p{font-size: 12px;}

.middle{
	position: absolute;
	top: 35%;
	left: 32px;
}

.bottom-left{
	position: absolute;
	bottom: 32px;
	left: 32px;
}

.bottom-right{
	position: absolute;
	right: 32px;
	bottom: 32px;
	text-align: right;
	font-size: 12px;
	border-right: 2px solid white;
	padding-right: 15px;
}

.big-text{
	font-weight: bold;
	font-size: 6vw;
}

.btn{
	font-size: 1.05vw;
}

.btn:hover{
	background-color: #ECB97A;
	color: black;
}
.btn-regolamento{letter-spacing: 0px;}

@media screen and (max-width: 540px){
	p{font-size: initial;}
	
	.btn{font-size: initial;}
	
	.bottom-left{bottom: 120px;}
	
	.bottom-right{
		text-align: center;
		border-right: none;
	}
	
	.bottom-right p{font-size: 13px;}
	
	.modal-content h1{font-size: 33px;}
	
    .registration-box{top:5%;}
}

/* finestra modale regolamento */
.modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto; /* 5% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	right: 30px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.close-reg-box{
	position: absolute;
	top: 10px;
	right: 30px;
}

.btn-reg{letter-spacing: normal;}
.btn-reg:hover{background-color: black;color:white;}

@media screen and (max-width: 644px){
	.top-right{display: none;}
}