 *{margin-left:auto;margin-right:auto;}
 .pari{color:cyan;background-color:black;}
 table{margin-top:40px;margin-bottom:40px;}
 tr, td{padding:10px;}
 h1{margin-top:100px;}
 form{margin-top:40px;}
 .spazio{margin-top:20px;}
 ul, li{list-style-type:none;}
 ul{margin-top:20px;}
 .normal{margin-top:-20px;font-size:20px;padding:10px;margin-right:10px;}
 h2{margin-top:17%;font-size:80px;font-family: 'Indie Flower', cursive;}
